#heading{
 text-align: center;
 color:red;
 background-color: black;
display:block;
}
.parent{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    
}
#child1{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    row-gap: 10px;
    column-gap: 10px;
}

input{
    
    height: 50px;
    border:1px solid brown;
    border-radius: 12px;
    padding-left: 10px;
    font-size: 20px;
    font-weight:400;
    text-align: left;


}
#btn {
    width: 70px;
    height: 40px;
    border: 1px solid #2c3e50; 
    border-radius: 20px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn:hover {
    background-color: #96c627; 
}
